
node_modules/
dist/
build/

.eslintcache
.eslint.config.js
.prettierignore
.prettierrc
.vite/
vite.config.js
jsconfig.json

.env
.env.local
.env.example
.env.local.example


package-lock.json
package.json

README.md
LICENSE

.docker/

logs/
npm-debug.log
yarn-error.log
