/* Estilos globales */
body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

[data-theme='dark'] {
  background-color: #121212;
  color: #ffffff;
}

[data-theme='light'] {
  background-color: #ffffff;
  color: #000000;
}
